@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  overflow: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  p {
    margin: 0.5em 0;
  }

  a {
    color: #0645ad;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.diff-container del {
  background-color: rgba(255, 0, 0, 0.2);
  text-decoration: line-through;
}

.diff-container ins {
  background-color: rgba(0, 255, 0, 0.2);
  text-decoration: none;
}

.spinner {
  display: inline-block;
  animation: spin 1s linear infinite;
}

.spinner.hidden {
  display: none;
}

#prompt-editor-content .edit-paragraph .highlight-yellow {
  background-color: yellow;
  display: inline-block;
  min-height: 1.5em;
  cursor: text;
}

#prompt-editor-content .edit-paragraph .highlight-gray {
  background-color: lightgray;
  display: inline;
}

#prompt-editor-content .edit-paragraph .highlight-green {
  background-color: lightgreen;
  display: inline;
}

.wiki-paragraph.edit-paragraph {
  cursor: pointer;
  border: 1px solid transparent;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

.wiki-paragraph.edit-paragraph.empty-paragraph {
  cursor: pointer;
  transition: border-color 0.2s;
  min-height: 0.5em;
  cursor: pointer;
}

.wiki-paragraph.edit-paragraph:hover {
  background-color: rgb(229, 231, 235);
  border: 1px dashed #ccc;
}

.wiki-paragraph.edit-paragraph.empty-paragraph:hover {
  background-color: rgb(210, 210, 210);
  border: 1px dashed #ccc;
  height: 1.5em;
}

.target-paragraph {
  height: 10em;
  border: 1px dashed #ccc;
  cursor: pointer;
  text-align: center;
  line-height: 10em;
}

/* 

[contentEditable="true"] .wiki-paragraph .highlight-yellow {
  cursor: text;
}



[contentEditable="true"] .wiki-paragraph:has(.wiki-link:hover) {
  background-color: transparent;
} */

.empty-paragraph {
  border: 1px dashed ccc;
  transition: border-color 0.2s;
  margin: -0.5em 0;
  min-height: 5em;
  cursor: pointer;
}

#prompt-editor-content .edit-paragraph .highlight-yellow {
  background-color: yellow;
  display: block;
}

.empty-paragraph:hover {
  border-color: #ccc;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import "@/lib/styles/wiki.css";
