@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  p {
    margin: 0.5em 0;
  }

  a {
    color: #0645ad;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.diff-container del {
  background-color: rgba(255, 0, 0, 0.2);
  text-decoration: line-through;
}

.diff-container ins {
  background-color: rgba(0, 255, 0, 0.2);
  text-decoration: none;
}

.spinner {
  display: inline-block;
  animation: spin 1s linear infinite;
}

.spinner.hidden {
  display: none;
}

#prompt-editor-content .highlight-yellow {
  background-color: yellow;
  display: inline;
  cursor: text;
}

#prompt-editor-content .empty-paragraph .highlight-yellow {
  background-color: yellow;
  display: block;
  height: 1.5em;
}

#prompt-editor-content .highlight-gray {
  background-color: lightgray;
  display: inline;
}

#prompt-editor-content .highlight-green {
  background-color: lightgreen;
  display: inline;
}

.wiki-paragraph {
  cursor: pointer;
}

[contentEditable="true"] .wiki-paragraph .highlight-yellow {
  cursor: text;
}

.wiki-paragraph:hover {
  background-color: rgb(229, 231, 235);
}

[contentEditable="true"] .wiki-paragraph:has(.wiki-link:hover) {
  background-color: transparent;
}

.empty-paragraph {
  border: 1px dashed transparent;
  transition: border-color 0.2s;
  margin: -0.5em 0;
  min-height: 0.5em;
  cursor: pointer;
}

.empty-paragraph:hover {
  border-color: #ccc;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import "@/lib/styles/wiki.css";
