@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  p {
    margin: 0.5em 0;
  }

  a {
    color: #0645ad;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.diff-container del {
  background-color: rgba(255, 0, 0, 0.2);
  text-decoration: line-through;
}

.diff-container ins {
  background-color: rgba(0, 255, 0, 0.2);
  text-decoration: none;
}

.spinner {
  display: inline-block;
  animation: spin 1s linear infinite;
}

.spinner.hidden {
  display: none;
}

#prompt-editor-content .highlight-yellow {
  background-color: yellow;
}

#prompt-editor-content .highlight-gray {
  background-color: lightgray;
}

#prompt-editor-content .highlight-green {
  background-color: lightgreen;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import "@/lib/styles/wiki.css";
